<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <!-- AVATAR-->
  <% if user_signed_in? %>
    <div class="d-flex align-items-center justify-content-around" id="player-stress">
      <li class="nav-item dropdown" >
        <div id="avatar-border">
          <%= image_tag "components/navbar-avatar-head-ben.png", class: "avatar-char dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </div>
      </li>
      <!--ICONE ET STRESS BAR -->
    <div id="stress-border" class="d-flex align-items-center">
  <% else %>
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  <% end %>

  <!-- EMOJI CHANGE -->
    <% if @game_event.game.stress < 33 %>
      <%= image_tag "components/navbar-happy.png", alt: "stress-icon", id: "stress-icon" %>
    <% elsif @game_event.game.stress >= 33 && @game_event.game.stress < 66 %>
      <%= image_tag "components/navbar-neutral.png", alt: "stress-icon",class:"animated pulse", id: "stress-icon" %>
    <% elsif @game_event.game.stress >= 66 && @game_event.game.stress < 99 %>
      <%= image_tag "components/navbar-stress.png", alt: "stress-icon", class:"animated infinite bounce", id: "stress-icon" %>
    <% else %>
      <%= image_tag "components/navbar-dead2.png", alt: "stress-icon", class:"animated swing slower", id: "stress-icon" %>
    <% end %>
      <% if @game_event.nil? %>
      <% else %>
        <% if @game_event.event.present? %>
          <% if @game_event.choice.present? %>
            <div class="wrapper">
              <div class="progress" data-stress-joker='<%= ( 100 - @game.stress ) + 20 %>' data-stress-display='<%= @game.stress %>' style="width: 100%;"></div>
            </div>
            <% else %>
              <div class="wrapper">
                <div class="progress" data-stress-display='<%= @game.stress %>' style="width: 100%;"></div>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    </div>
  <div class="" id="">
    <ul class="navbar-nav mr-auto">
      <% if @game_event.nil? %>
      <% else %>
        <% if @game_event.event.present? %>
          <% if @game_event.choice.present? %>
          <div>
            <div class="d-flex align-items-center justify-content-around">
              <h4  class="display-score" >Score:</h4>
              <h1 class="display-score" id="score-display" data-score-display='<%= @game.score %>'><%= @game.score - @game_event.choice.score_impact %></h1>
            </div>
            <!-- x2 NOT ON AFTER JOKER IS USED / CHOICE DONE -->
            <!-- x2 APPEARS WHEN JOKER IS CLICKED -->
              <span class="score-multiply bonus-score">Next Round: Score x2</span>
          </div>
          <% else %>
          <div>
            <div class="d-flex align-items-center justify-content-around">
              <h4  class="display-score" >Score:</h4>
              <h1 class="display-score" id="score-display" data-score-display='<%= @game.score %>'><%= @game.score %></h1>
            </div >
            <!-- x2 APPEARS WHEN JOKER IS ON BEFORE CHOICE -->
            <% if @game_event.joker %>
              <span class="bonus-score">This Round: Score x2</span>
            <!-- x2 APPEARS WHEN JOKER IS CLICKED -->
            <% end %>
          </div>
          <% end %>
        <% else %>
          <% if user_signed_in? %>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>




