
<div class="body">
  <div class = "top-padding">
    <div class="gameover-container animated fadeInUp slower p-3" id="to-drag">
      <h2>Game over</h2>
      <% if @game.score >= @own_best_score %>
        <h1 >  your score :  <span style="color:#F49D37;"><%="#{@game.score}"%></span> </h1>
        <h2 ><small>New record! </small></h2>
        <h2 style="color:#F49D37;"><small>Your best score : <%= @own_best_score %></small></h2>
      <% else %>
        <h1 > Your score : <span style="color:green;"> <%="#{@game.score}"%></span> </h1>
        <br>
        <h2> <small>Your best score :<h2 style="color:#F49D37;"> <%= @own_best_score %> </h2></small></h2>
      <% end %>
      <div class="my-5">
        <%= link_to "TRY AGAIN!" ,root_path , class: "restart-btn py-4 px-5"%>
      </div>
    </div>
    <br>
    <div class="gameover-container animated fadeInUp slower delay-2s p-3" id="to-drag" style="height:300px;">
      <table class="fixed_headers">
        <thead>
          <tr>
            <th class="pr-4 pb-4">Rank</th>
            <th class="pr-5 pb-4">Username</th>
            <th class="pr-4 pb-4">Batch</th>
            <th class="pb-4">Score</th>
          </tr>
        </thead>
        <tbody class="best-score-games">
          <% @best_score_games.each_with_index do |game, index| %>
            <% if game == @own_best_game %>
              <tr>
                <td class="pr-4 pb-2" style="color:#F49D37;">#<%= index + 1 %></td>
                <td class="pr-5 pb-2" style="color:#F49D37;"><%= ("#{game.user.last_name} #{game.user.first_name}".length > 10) ? "#{game.user.last_name} #{game.user.first_name}"[0..9] : "#{game.user.last_name} #{game.user.first_name}" %></td>
                <td class="pr-4 pb-2" style="color:#F49D37;"><%= game.user.batch %></td>
                <td class="pb-2" style="color:#F49D37;"><%= game.score %></td>
              </tr>
            <% elsif game == @game %>
                <tr>
                <td class="pr-4 pb-2" style="color:green;">#<%= index + 1 %></td>
                <td class="pr-5 pb-2" style="color:green;"><%= ("#{game.user.last_name} #{game.user.first_name}".length > 10) ? "#{game.user.last_name} #{game.user.first_name}"[0..9] : "#{game.user.last_name} #{game.user.first_name}" %></td>
                <td class="pr-4 pb-2" style="color:green;"><%= game.user.batch %></td>
                <td class="pb-2" style="color:green;"><%= game.score %></td>
              </tr>
            <% else %>
              <tr>
                <td class="pr-4 pb-2">#<%= index + 1 %></td>
                <td class="pr-5 pb-2"><%= ("#{game.user.last_name} #{game.user.first_name}".length > 10) ? "#{game.user.last_name} #{game.user.first_name}"[0..9] : "#{game.user.last_name} #{game.user.first_name}" %></td>
                <td class="pr-4 pb-2"><%= game.user.batch %></td>
                <td class="pb-2"><%= game.score %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

