<div class="body">
 <!--  <div class="background" style="background-image: linear-gradient(rgba(8,76,97,0.7), rgba(8,76,97,0.7)), url(<%= image_path("gaudelet_2.jpg") %>)"> -->
    <div class="container container-home">
      <div>
        <h1 class="animated heartBeat delay-2s home_p">Le Wagon Simulator</h1>
        <div id="typed-height">
          <span id="typed"></span>
        </div>
        <div>
          <ul style="list-style: none;">
            <li>
              <div class="d-flex justify-content-between py-2 align-items-center">
                <%= image_tag "score.png",height: 45, width: 45 %>
                <p class="home_p"> Try to get the highest score!</p>
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between py-2 align-items-center">
                <%= image_tag "choice.png",height: 45, width: 45  %>
                <p class="home_p">Do The right choice!</p>
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between py-2 align-items-center">
                <%= image_tag "stress.png",height: 45, width: 45  %>
                <p class="home_p">Don't let the stress get the better of you!</p>
              </div>
            </li>
          </ul>
        </div>

        <div id="typed-strings">
          <p>Change your life and relive your <br> <em> Le Wagon experience </em> through a game!</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="text-center">

          <%= link_to "Play!", game_game_event_path(@game_event.game.id, @game_event.id),class: "restart-btn" %>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>



























<!-- rgba(162,8,1,0.7), rgba(162,8,1,0.7) -->
<!-- rgba(0,0,0,0.4), rgba(0,0,0,0.4) -->
<!-- rgba(14,68,209,0.4), rgba(14,68,209,0.4) -->
<!-- rgba(238,158,29,0.4), rgba(238,158,29,0.4) -->
<!-- rgba(8,76,97,0.4), rgba(8,76,97,0.4) -->
