  <div id="music" class="cathodic-container screen" data-music="<%= asset_path("music.mp3") %>">
    <div class="container container-home">
      <div>
        <h1 class="animated heartBeat delay-4s home_h1">Le Wagon Simulator</h1>
        <div id="typed-height">
          <span class="home_h1" id="typed"></span>
        </div>
        <div id="typed-strings">
          <p id="typed">Change your life and live again<br> <em> Le Wagon experience </em> through a game!</p>
        </div>
          <div>
            <ul id ="rules">
              <li>
                <div class="d-flex justify-content-between py-2 align-items-center">
                  <%= image_tag "memory-board-games1.png",height: 45, width: 45  %>
                  <p class="home_h1">Do the right choice!</p>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between py-2 align-items-center">
                  <%= image_tag "score.png",height: 45, width: 55 %>
                  <p class="home_h1"> Try to get the highest score!</p>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between py-2 align-items-center">
                  <%= image_tag "shy (1).png",height: 45, width: 45  %>
                  <p class="home_h1 text-right">Don't let the stress get the better of you!</p>
                </div>
              </li>
            </ul>
          </div>
        <br>
        <div class="sky ">
          <%#= image_tag "wagon.png", height: 40, width: 70 %>
          <%= image_tag "components/home-van.png", height: 100 %>
        </div>
        <br>
        <div class="text-center">
          <% if current_user %>
              <%= link_to "PLAY!", game_game_event_path(@game_event.game.id, @game_event.id),class: "restart-btn" %>
          <% else %>
              <%= link_to "SIGN UP!", new_user_session_path, class: "restart-btn" %>
          <% end %>
        </div>
        <div id="sound-stop" class="volume-btn">
          <i class="fas fa-volume-up" style="font-size: 30px;"></i>
        </div>
      </div>
    </div>
    <div class="overlay">AV-1</div>
  </div>
