<div class="body">
  <% if @game_event.choice == nil %>
    <div class="main-container">
      <!-- SWIPEABLE CLASS INCLUDING CARD, SIMPLE FORM CHOICES OPTIONS -->
      <div class="demo__card">
       <!-- ----- ICI C EST L AFFICHAGE DE L'EVENT---- -->
        <div id="event-card" class="animated slideInUp d-flex flex-column justify-content-between">
          <div class=" event-head d-flex flex-column justify-content-between">
            <h3 class="text-center" style="font-size: 16px;"><%= @game_event.event.title %></h3>
            <div class="d-flex justify-content-center ">
              <%= image_tag @event.image_url %>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center" id="event-description">
            <p class="text-center "><%= @game_event.event.description %></p>
          </div>
        </div>
        <% @event.choices.each do |choice| %>
          <% if choice == @game_event.event.choices.first %>
            <div class="demo__card__choice m--left"><%= choice.title %></div>
            <%= simple_form_for [@game, @game_event] do |f| %>
              <%= f.hidden_field :choice_id, value: choice.id %>
              <%= f.submit choice.title, class:"d-none", data: {choice: "choiceleft"}%>
            <% end %>
          <% else %>
            <div class="demo__card__choice m--right"><%= choice.title %></div>
            <%= simple_form_for [@game, @game_event] do |f| %>
              <%= f.hidden_field :choice_id, value: choice.id %>
              <%= f.submit choice.title, class:"d-none", data: {choice: "choiceright"}%>
            <% end %>
          <% end %>
        <% end %>
        <div class="demo__card__drag"></div>

      </div>
    </div>
       <!-- ----- ICI C EST L AFFICHAGE DU CHOIX---- -->
  <% else %>
    <div class="d-flex justify-content-between">
      <p class="impact bounceInDown display-score" style="margin-top: 70px; color: #FD0E14;"; data-stress-impact='<%= @game_event.choice.stress_impact %>'> + <%= @game_event.choice.stress_impact %></p>
      <div class="main-container">

        <div id="event-card" class="animated slideInUp d-flex flex-column justify-content-between">
          <div class=" event-head d-flex flex-column justify-content-between">
            <h3 class="text-center" style="font-size: 16px;"><%= @game_event.event.title %></h3>
            <div class="d-flex justify-content-center">
               <%= image_tag @game_event.choice.image_url %>
            </div>
          </div>
            <div class="d-flex flex-column justify-content-center" id="event-description">
              <p class="text-center" style="font-size: 10px; line-height: 25px; letter-spacing: 1px;"><%= @game_event.choice.description %></p>
            </div>
            <!-- NEXT LINK AND SEE RESULTS ARE NOW CLASS NEXT LINK TRANSPARENT ALL OVER THE CARD -->
            <!-- IT WORKS BECAUSE NEXT LINK IS ABSOLUTE POSITION AND EVENT CARD IS RELATIVE POSITION -->
            <!-- ID NEXT DISPLAY AND END DISPLAY NOT USED ANYMORE -->
            <% if (@game.stress < 100) %>
              <div class="text-center ">
                <%= simple_form_for [@game, GameEvent.new] do |f| %>
                <!--  "NEXT" -->
                  <%= f.submit "", class: "next-link", url: game_game_events_path%>
                <% end %>
              </div>
            <% else %>
              <div class = "text-center">
                <!-- "See Results" -->
                <%= link_to "", game_endgame_path(@game), class: "next-link" %>
              </div>
            <% end %>
          </div>
    </div>
      <p class="impact bounceInDown display-score" style="margin-top: 70px;" data-score-impact='<%= @game_event.choice.score_impact %>'> + <%= @game_event.choice.score_impact %></p>
    </div>

  <% end %>
</div>


