<div class="body">
  <% if @game_event.choice == nil %>
    <div class="main-container">
       <!-- ----- ICI C EST L AFFICHAGE DE L'EVENT---- -->
      <div id="event-card" class="animated slideInUp d-flex flex-column justify-content-between">
        <div class=" event-head d-flex flex-column justify-content-between">
          <h3 class="text-center"><%= @game_event.event.title %></h3>
          <div class="d-flex justify-content-center ">
            <%= image_tag("https://source.unsplash.com/random/380x240") %>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center" id="event-description">
          <p class="text-center "><%= @game_event.event.description %></p>
        </div>
      </div>
    </div>
        <div class="d-flex justify-content-around" id="button-container">
          <% @event.choices.each do |choice| %>
            <%= simple_form_for [@game, @game_event] do |f| %>
              <%= f.hidden_field :choice_id, value: choice.id %>
              <%= f.submit choice.title , class: "button-display"%>
            <% end %>
          <% end %>
        </div>
       <!-- ----- ICI C EST L AFFICHAGE DU CHOIX---- -->
  <% else %>
    <div class="d-flex justify-content-between">
      <p class="impact bounceInDown" data-stress-impact='<%= @game_event.choice.stress_impact %>'> + <%= @game_event.choice.stress_impact %></p>
      <div class="main-container">

        <div id="event-card" class="animated slideInUp d-flex flex-column justify-content-between">
          <div class=" event-head d-flex flex-column justify-content-between">
            <h3 class="text-center"><%= @game_event.event.title %></h3>
            <div class="d-flex justify-content-center">
               <%= image_tag("https://source.unsplash.com/random/380x240") %>
            </div>
          </div>
            <div class="d-flex flex-column justify-content-center" id="event-description">
              <p class="text-center"><%= @game_event.choice.description %></p>
            </div>
          </div>
      <% if (@game.stress < 100) %>
        <div class="text-center ">
          <%= simple_form_for [@game, GameEvent.new] do |f| %>
            <%= f.submit "NEXT", class: "button-display", id: "next-display", url: game_game_events_path%>
          <% end %>
        </div>
      <% else %>
        <div class = "text-center">
          <%= link_to "See Results", game_endgame_path(@game), class: "button-display", id: "end-display" %>
        </div>
      <% end %>
    </div>
      <p class="impact bounceInDown" data-score-impact='<%= @game_event.choice.score_impact %>'> + <%= @game_event.choice.score_impact %></p>
    </div>

  <% end %>
</div>
