<div class="body">

  <%= render 'shared/navbar' %>
  <% if @game_event.choice == nil %>
    <div class="arrow-left">
      <%= image_tag('swipe-to-left.png', class:'no-swipe-arrow-left animated') %>
    </div>
    <div class="main-container">
      <!-- SWIPEABLE CLASS INCLUDING CARD, SIMPLE FORM CHOICES OPTIONS -->
      <div class="demo__card d-flex justify-content-center">
       <!-- ----- ICI C EST L AFFICHAGE DE L'EVENT---- -->
       <div class="event-card animated slideInUp d-flex flex-column justify-content-between">
         <div class=" event-head d-flex flex-column justify-content-between">
           <h3 class="text-center" style=""><%= @game_event.event.title %></h3>
         </div>
         <div class="event-image" style="background-image: url(<%= image_path @event.image_url %>)">
           <%#= image_tag @game_event.event.image_url %>
         </div>
         <div class="event-description d-flex flex-column justify-content-center">
           <div class="typed-height">
             <span id="typedShow"></span>
           </div>
           <div id="typed-strings-show">
            <p id="typedShow"><%= @game_event.event.description %></p>
           </div>
         </div>
          <% @event.choices.each do |choice| %>
            <% if choice == @game_event.event.choices.first %>
              <div class="demo__card__choice m--left"><%= choice.title %></div>
              <%= simple_form_for [@game, @game_event] do |f| %>
                <%= f.hidden_field :choice_id, value: choice.id %>
                <%= f.submit choice.title, class:"d-none", data: {choice: "choiceleft"}%>
              <% end %>
            <% else %>
              <div class="demo__card__choice m--right"><%= choice.title %></div>
              <%= simple_form_for [@game, @game_event] do |f| %>
                <%= f.hidden_field :choice_id, value: choice.id %>
                <%= f.submit choice.title, class:"d-none", data: {choice: "choiceright"}%>
              <% end %>
            <% end %>
          <% end %>
          <div class="demo__card__drag"></div>
        </div>
      </div>
    </div>
    <div class="arrow-right">
      <%= image_tag('swipe-to-right.png', class:'no-swipe-arrow-right animated') %>
    </div>
    <div class="kebab-joker d-flex">
      <% if @game.stress >= 80 && @game.stress < 100 %>
        <p data-game-stress="<%= @game.score %> "class="opacity" style="font-size: 8px; color: red;">Your stress is too HIGH, eat a kebab !</p>
      <% end %>
      <div>
        <%= image_tag('icons/kebab.png') %>
        <div class="content">
          <p>Joker Kebab !</p>
        </div>
      </div>
    </div>

       <!-- ----- ICI C EST L AFFICHAGE DU CHOIX---- -->
  <% else %>
    <div class="d-flex justify-content-between">
      <div>
        <p class="impact bounceInDown display-score" style="color: #FD0E14;"; data-stress-impact='<%= @game_event.choice.stress_impact %>'> + <%= @game_event.choice.stress_impact %></p>
        <p class="impact display-score" style="color: green; visibility: hidden;"; id="stress-kebab"> -20 </p>
      </div>
      <div class="main-container d-flex justify-content-center">

        <div class="event-card animated slideInUp d-flex flex-column justify-content-between" id="result-card">
          <div class="event-head" id="result-head">
              <% if @game_event.choice.stress_impact <= 0 %>

               <h2 class="text-center no-stress"> No stress! </h2>
              <% else %>
                <h2 class="text-center yes-stress">+<%= @game_event.choice.stress_impact%>% stress!</h3>
              <% end %>
            </h3>
          </div>
          <div class="event-image" style="background-image: url(<%= image_path @game_event.choice.image_url %>)">
          </div>
          <div class="event-description d-flex flex-column justify-content-center" id="result-description">
            <p class="text-center" ><%= @game_event.choice.description %></p>
          </div>
            <!-- NEXT LINK AND SEE RESULTS ARE NOW CLASS NEXT LINK TRANSPARENT ALL OVER THE CARD -->
            <!-- IT WORKS BECAUSE NEXT LINK IS ABSOLUTE POSITION AND EVENT CARD IS RELATIVE POSITION -->
            <!-- ID NEXT DISPLAY AND END DISPLAY NOT USED ANYMORE -->
          <% if (@game.stress < 100) %>
            <div class="text-center ">
              <%= simple_form_for [@game, GameEvent.new] do |f| %>
              <!--  "NEXT" -->
                <%= f.submit "CLICK FOR NEXT EVENT", class: "next-link", url: game_game_events_path%>
              <% end %>
            </div>
          <% else %>
            <div class = "text-center ">
              <!-- "See Results" -->
              <%= link_to "GAME OVER see results", game_endgame_path(@game), class: "next-link d-flex justify-content-center align-items-center" %>
            </div>
          <% end %>
        </div>
      </div>
      <p class="impact bounceInDown display-score" data-score-impact='<%= @game_event.choice.score_impact %>'> + <%= @game_event.joker ? @game_event.choice.score_impact * 2 : @game_event.choice.score_impact %></p>
        <div class='hidden fixe'  id="goodStyle">
          <%= image_tag "Good-Style.png"  %>
        </div>
    </div>
    <div class="kebab-joker d-flex">
      <% if @game.stress >= 80 && @game.stress < 100 %>
        <p data-game-stress="<%= @game.score %> "class="opacity" style="font-size: 8px; color: red;">Your stress is too HIGH, eat a kebab !</p>
      <% end %>
      <div>
        <%= link_to game_game_event_joker_path(@game, @game_event), remote: true do %>
          <%= image_tag('icons/kebab.png') %>
        <% end %>
        <div class="content">
          <p>Joker Kebab !</p>
        </div>
      </div>
    </div>

  <% end %>


</div>

